/* src/styles.css */
@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: #9fc4a5;
  font-family: "Mali", sans-serif;
  color: white !important;
}
.container {
  margin: 10px 20px;
}
